In [41]:
import pandas as pd
data = pd.read_csv('9_Raymondwalk.csv')
data.head()

,id,frame,r_hip_ang,r_knee_ang,r_ankle_ang,r_elbow_ang,r_shoulder_ang,gender,age,r_hip_vel,...,r_hip_accel_2,r_knee_accel_2,r_ankle_accel_2,r_elbow_accel_2,r_shoulder_accel_2,r_hip_accel_3,r_knee_accel_3,r_ankle_accel_3,r_elbow_accel_3,r_shoulder_accel_3
0,9,1,172.341589,178.867360,140.734634,156.971463,16.088075,male,>40,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
1,9,2,171.454017,178.802435,131.296852,153.434949,18.538184,male,>40,-13.313577,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
2,9,3,169.991085,178.439116,129.583919,152.409992,19.794504,male,>40,-14.629320,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
3,9,4,169.361576,177.987337,129.553102,152.543549,19.874253,male,>40,-4.721321,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
4,9,5,168.737575,177.600369,128.813510,151.406392,20.644574,male,>40,-3.744002,...,-199.703661,-14.608019,-2123.500906,-795.715683,551.274709,0.0,0.0,0.0,0.0,0.0

In [42]:
from sdv.tabular import GaussianCopula
model = GaussianCopula()
model.fit(data)
synthetic_data = model.sample(5000)
synthetic_data.head()

,id,frame,r_hip_ang,r_knee_ang,r_ankle_ang,r_elbow_ang,r_shoulder_ang,gender,age,r_hip_vel,...,r_hip_accel_2,r_knee_accel_2,r_ankle_accel_2,r_elbow_accel_2,r_shoulder_accel_2,r_hip_accel_3,r_knee_accel_3,r_ankle_accel_3,r_elbow_accel_3,r_shoulder_accel_3
0,9,129,172.967824,162.072250,106.469635,162.720501,10.0,male,>40,-1.0,...,10.0,8.0,27.0,24.0,-15.0,-10.0,2.0,-2.0,-32.0,28.0
1,9,235,159.321743,152.214462,103.232554,162.137806,19.0,male,>40,-1.0,...,20.0,12.0,-68.0,-38.0,11.0,14.0,-17.0,-51.0,15.0,-15.0
2,9,102,168.001038,175.200801,128.990893,162.672522,16.0,male,>40,-0.0,...,-12.0,6.0,-25.0,-19.0,21.0,2.0,8.0,47.0,22.0,-16.0
3,9,205,173.895629,150.357303,107.526503,160.601429,6.0,male,>40,-0.0,...,-13.0,3.0,-35.0,-25.0,16.0,-33.0,-30.0,-10.0,-62.0,37.0
4,9,75,168.727422,175.616680,110.276218,140.734471,17.0,male,>40,0.0,...,8.0,11.0,-19.0,61.0,-30.0,-11.0,-5.0,-81.0,-2.0,3.0

In [43]:
from sdv.evaluation import evaluate

evaluate(synthetic_data, data)

0.8461243522435012

In [44]:
evaluate(synthetic_data, data, aggregate=False)

,metric,name,raw_score,normalized_score,min_value,max_value,goal,error
0,KSComplement,Inverted Kolmogorov-Smirnov D statistic,0.692249,0.692249,0.0,1.0,MAXIMIZE,None
1,CSTest,Chi-Squared,1.000000,1.000000,0.0,1.0,MAXIMIZE,None

In [45]:
new_data = pd.concat([data, synthetic_data])
print(len(new_data.index))

10005

In [46]:
new_data.to_csv('9_RaymondwalkSynthetic.csv', index=False)